body{ 
    background-color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;
    border-radius: 5px;

    /* Imagen como fondo */
    background-image: url('/Frontend/media/fondodiv.jpg');
    background-size: cover;   /* cubre el div */
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-first {
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-color: #8b8b8b;
    border-radius: 10px;
}

.container-second{
    background: #ffffff;
}

.title-first {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Free Royalty';
    font-size: 50px;
    line-height: 2;
    color: #ffffff;
}

.title-second {
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5; 
    color: #000000;
}

.hyperlink {
    display: inline-flex;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    flex-direction: column;
}

.text {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}